body {
  box-sizing: border-box;
  font-family: monospace;
}
.header {
  display: flex;
}
.header-title {
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.time-section {
  width: 200px;
  height: 75px;
  padding: 3px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  margin-left: 70%;
  margin-bottom: 20px;
  /* color: green; */
}
.current-time, .current-date {
  font-size: xx-large;
}
.calc-section {
  display: flex;
  background-color: #523e3e;
  flex-direction: column;
  margin: auto;
  height: 420px;
  width: 60%;
}
.calc-input {
  height: 20%;
    /* color:  #a09999; */
    padding-left: 10px;
    padding-right: 10px;
    font-size: 28px;
    text-align: left;
    height: 50px;
}
.calc-buttons {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.calc-button {
  background-color: #0113779c;
  color: #ffffff;
  font-size: 15px;
  font-family: monospace;
  border: 1px solid #ffffffc2;
}